body{
  margin: 0;
  background-color:#0c1c1b;
}
#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('NEPTUNE.png'), url('URANUS.png'), url('SATURN.png'), url('JUPITER.png'),
  url('MARS.png'), url('EARTH.png'), url('VENUS.png'), url('MERCURY.png'), url('SUN.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size:10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%;
}
h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Arial";
  text-transform: uppercase;
  opacity: .2;
  font-size: 70px
}