{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Explore the Skies !</title>
<link rel="stylesheet" href="{% static 'webapp/test_for_animation.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'webapp/perfect_logo.png' %}">
</head>

<body>
<div id="explain_box">
<h1>Hello everyone !</h1>
</div>
<div id="solar_system" class="planets-container">

<div class="MERCURY">
<div style="--t: {{ t2_plus_1 }}" class="mercury-globe">
<div style="--c: {{ t }}" class="line radius h mercury-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h mercury-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h mercury-h"></div>
{% endfor %}
</div>
</div>

<div class="SUN">
<div style="--t: {{ t2_plus_1 }}" class="sun-globe">
<div style="--c: {{ t }}" class="line radius h sun-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h sun-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h sun-h"></div>
{% endfor %}
</div>
</div>

<div class="VENUS">
<div style="--t: {{ t2_plus_1 }}" class="venus-globe">
<div style="--c: {{ t }}" class="line radius h venus-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h venus-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h venus-h"></div>
{% endfor %}
</div>
</div>

<div class="EARTH">
<div style="--t: {{ t2_plus_1 }}" class="earth-globe">
<div style="--c: {{ t }}" class="line radius h earth-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h earth-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h earth-h"></div>
{% endfor %}
</div>
<div id="trail"></div>
<script>
document.addEventListener('mousemove', function(e) {
// Create a new trail element
const trail = document.createElement('div');
trail.textContent = '⸱';
trail.classList.add('trailing');

// Position the trail element at the mouse cursor's location
trail.style.left = e.clientX + 'px';
trail.style.top = e.clientY + 'px';

// Add the new element to the container
document.getElementById('trail').appendChild(trailing);

// Remove the element after the animation is complete (5 seconds)
// This prevents the DOM from getting too large and slowing down the page
setTimeout(() => {
    trail.remove();
}, 5000);
});</script>
<div class="MOON">
<div style="--t: {{ t2_plus_1 }}" class="moon-globe">
<div style="--c: {{ t }}" class="line radius h moon-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h moonearth-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h moon-h"></div>
{% endfor %}
</div>
</div>
</div>

<div class="MARS">
<div style="--t: {{ t2_plus_1 }}" class="mars-globe">
<div style="--c: {{ t }}" class="line radius h mars-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h mars-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h mars-h"></div>
{% endfor %}
</div>
</div>

<img class="ASTEROID" id="ASTEROID" src="{% static 'webapp/asteroid_belt.png' %}">

<div class="JUPITER">
<div style="--t: {{ t2_plus_1 }}" class="jupiter-globe">
<div style="--c: {{ t }}" class="line radius h jupiter-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h jupiter-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h jupiter-h"></div>
{% endfor %}
</div>
</div>

<div class="SATURNE">
<div style="--t: {{ t2_plus_1 }}" class="saturne-globe">
<div style="--c: {{ t }}" class="line radius h saturne-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h saturne-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h saturne-h"></div>
{% endfor %}
</div>
</div>

<div class="URANUS">
<div style="--t: {{ t2_plus_1 }}" class="uranus-globe">
<div style="--c: {{ t }}" class="line radius h uranus-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h uranus-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h uranus-h"></div>
{% endfor %}
</div>
</div>

<div class="NEPTUNE">
<div style="--t: {{ t2_plus_1 }}" class="neptune-globe">
<div style="--c: {{ t }}" class="line radius h neptune-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h neptune-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h neptune-h"></div>
{% endfor %}
</div>
</div>

</div>
</body>
</html>