{% load static %}
<link rel="stylesheet" href="{% static 'webapp/test_for_animation.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'webapp/perfect_logo.png' %}">
<title>Explore the Skies !</title>

<div style="--t: {{ t2_plus_1 }}" class="globe">
<div style="--c: {{ t }}" class="line radius h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
</div>