{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Explore the Skies !</title>
<link rel="stylesheet" href="{% static 'webapp/test_for_animation.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'webapp/perfect_logo.png' %}">
</head>

<body>
<div id="explain_box">
<h1>Hello everyone !</h1>
</div>

<div id="solar_system" class="planets-container">

<!-- MERCURY -->
<div class="MERCURY">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h mercury-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h mercury-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h mercury-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- SUN -->
<div class="SUN">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h sun-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h sun-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h sun-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- VENUS -->
<div class="VENUS">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h venus-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h venus-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h venus-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- EARTH -->
<div class="EARTH">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h earth-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h earth-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h earth-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- MARS -->
<div class="MARS">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h mars-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h mars-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h mars-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- JUPITER -->
<div class="JUPITER">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h jupiter-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h jupiter-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h jupiter-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- SATURNE -->
<div class="SATURNE">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h saturne-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h saturne-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h saturne-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- URANUS -->
<div class="URANUS">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h uranus-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h uranus-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h uranus-h"></div>
{% endfor %}
</div>
</div>
</div>

<!-- NEPTUNE -->
<div class="NEPTUNE">
<div class="planet-tilt">
<div class="planet-spin" style="--t: {{ t2_plus_1 }}">
<div style="--c: {{ t }}" class="line radius h neptune-h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h neptune-h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h neptune-h"></div>
{% endfor %}
</div>
</div>
</div>

</div>
</body>
</html>
