{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Explore the Skies !</title>
<link rel="stylesheet" href="{% static 'webapp/test_for_animation.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'webapp/perfect_logo.png' %}">
</head>
<body>
//- SUN
<div class="SUN">
<div style="--t: {{ t2_plus_1 }}" class="globe">
<div style="--c: {{ t }}" class="line radius h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
</div>
</div>
//- MERCURY
<div class="MERCURY">
<div style="--t: {{ t2_plus_1 }}" class="globe">
<div style="--c: {{ t }}" class="line radius h"></div>
{% for line in positive_lines %}
<div style="--dp: {{ line.dp }}; --s:-1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
{% for line in negative_lines %}
<div style="--dp: {{ line.dp }}; --s:1; --c: {{ line.c }}" class="line h"></div>
{% endfor %}
</div>
</div>
<!-- Parallax Effect for Dynamic Starry Background -->
<script>(function() 
{
document.addEventListener("mousemove", parallax_body);
const elem = document.querySelector("body");

function parallax_body(e) {
let _w = window.innerWidth;
let _h = window.innerHeight;
let _mouseX = e.clientX;
let _mouseY = e.clientY;

let offset_coeff = 0.005;
let bg_Xoffset = -(_mouseX - _w / 2) * offset_coeff;
let bg_Yoffset = -(_mouseY - _h / 2) * offset_coeff * -1.75;

elem.style.backgroundPosition = `${bg_Xoffset}% ${bg_Yoffset}%`;
}
})();
</script>
</body>
</html>
