<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        {% load static %}
        <link rel="stylesheet" href="{% static 'webapp/test_for_animation.css' %}">
    </head>
    <body>
        <div class="globe" style="--t: 15">
            <div class="line radius h" style="--c: 7"></div>
            <div class="line h" style="--dp:0.14285714285714285; --s:-1; --c:8"></div>
            <div class="line h" style="--dp:0.2857142857142857; --s:-1; --c:9"></div>
            <div class="line h" style="--dp:0.42857142857142855; --s:-1; --c:10"></div>
            <div class="line h" style="--dp:0.5714285714285714; --s:-1; --c:11"></div>
            <div class="line h" style="--dp:0.7142857142857143; --s:-1; --c:12"></div>
            <div class="line h" style="--dp:0.8571428571428571; --s:-1; --c:13"></div>
            <div class="line h" style="--dp:0.14285714285714285; --s:1; --c:6"></div>
            <div class="line h" style="--dp:0.2857142857142857; --s:1; --c:5"></div>
            <div class="line h" style="--dp:0.42857142857142855; --s:1; --c:4"></div>
            <div class="line h" style="--dp:0.5714285714285714; --s:1; --c:3"></div>
            <div class="line h" style="--dp:0.7142857142857143; --s:1; --c:2"></div>
            <div class="line h" style="--dp:0.8571428571428571; --s:1; --c:1"></div>
        </div>
    </body>
</html>